*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $gray-light;

  @include font;
  @include flex-column;

  color: $dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    width: 100%;
    height: 100vh;
    position: relative;
  }

  h1,
  h2,
  h3 {
    line-height: normal;
  }

  section {
    width: 100%;
    padding: 1.5rem 5%;
    border-bottom: 1px solid rgba($gray-dark, 0.5);

    @include flex-column;

    &:last-of-type {
      border-bottom: none;
    }

    @include mq($mw:48rem) {
      @include flex-row;

      > * {
        align-self: flex-start;
      }
    }
  }

  button {
    width: 130px;
    padding: 0.3rem 1rem;

    @include font;

    font-weight: 400;
    font-size: 0.875rem;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-blue {
    width: 140px;
    background-color: $accent;
    border: 1px solid $accent;
    color: $white;
    transition: color, background-color ease-in-out 250ms;

    &:hover {
      background-color: $accent-light;
      border: 1px solid $accent-light;
    }
  }

  .btn-cancel {
    width: 140px;
    background-color: transparent;
    border: 1px solid $gray-dark;
    color: $gray-dark;
    transition: color, background-color ease-in-out 250ms;

    &:hover {
      background-color: rgba($gray-dark, 0.25);
    }
  }
}
