nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  padding: 1rem 5%;
  .brand {
    display: flex;
    align-items: center;
    color: $dark;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    .logo-img {
      height: 50px;
    }
  }
  .nav-link {
    text-decoration: none;
    color: $accent-light;
    font-size: 15px;
    font-weight: bold;
    &.active {
      color: $accent;
    }
  }
  ul {
    list-style: none;
    @include flex-row;
    li {
      padding: 0 1rem;
      &:last-child {
        border-left: 1px solid $gray-dark;
      }
    }
  }
}
